<body>
  <h1>クイズ一覧</h1>
  <div class="quiz_main">
   <div class="quiz_options_container">
      <% @quiz.each do |quiz|%>
        <div class="quiz_option_2">
            <%=link_to(quiz.title, "/quizzes/#{quiz.id}show")%>
            <p><%= quiz.question%></p>
        </div>
     <% end %>
   </div>

   <!-- ページネーションのボタンを表示 -->
    <div class="quiz_button">
      <!-- 戻る -->
      <% if @prev_page%>
        <%= link_to('戻る', "/quizzes/index?page=#{@prev_page}")%>  
      <%end%>

      
      <!-- 次へボタン -->
      <% unless @is_last_page %>
        <%= link_to('次へ', "/quizzes/index?page=#{@next_page}") %>
      <% end %>
    </div>

  </div>
  <div class="index_footer">
      
  </div>
</body>