<body>
  <div class="new_main">
    <div class="h1_title"><h1>Quizを投稿しよう!</h1></div>


  
    <%= form_tag("/quizzes/create") do %>
      <% if flash[:notice] %>
        <div class="messages">
           <%= flash[:notice] %>
        </div>
      <%end%>

      <div class="quiz_new">
        <div class="new_title">
          <p>題名</p>
          <small>50文字以内で入力をお願いします</small>
          <input name="title" type="text">
        </div>

        <div class="new_problem">
          <p>問題集</p>
          <small>250文字以内で入力をお願いします</small>
          <textarea name="question"></textarea>
        </div>

        <div class="new_request_1">
          <p>回答</p>
          <small>50文字以内で入力をお願いします</small>
          <input name="answer_1" type="text">
        </div>

        <div class="new_request_2">
          <p>回答</p>
          <small>50文字以内で入力をお願いします</small>
          <input name="answer_2" type="text">
        </div>

        <div class="new_correct_answer">
          <p>！正解！</p>
          <small>50文字以内で入力をお願いします</small>
          <input name="user_answer" type="text">
        </div>

        <p><input type="submit" value="クイズを作成"></p>
      </div>
    <% end %>
  </div>
  <div class="quiz_footer">
  </div>
</body>
