<h1>Quizzes</h1>
<p>Find me in app/views/quizzes/new.html.erb</p>


<%= form_tag("/quizzes/create") do %>
  <p>題名</p>
  <textarea name="title"></textarea>
  <p>問題集</p>
  <textarea name="question"></textarea>
  <p>回答</p>
  <textarea name="answer_1"></textarea>
  <p>回答</p>
  <textarea name="answer_2"></textarea>
  <p>！正解！</p>
  <textarea name="user_answer"></textarea>
  <input type="submit" value="クイズを作成">  
  <%=session[:user_id]%>
  
  <% end %>
