<!DOCTYPE html>

<html>
  <head>
  </head>


  <body>
    <diiv class="main">
      <%= link_to image_tag("Bg01.jpg"), "/quizzes/index"%>
    </div>
  </body>
  <div class="footer">
    
  </div>

  <div class="footer">
    
  </div>
  
  
</html>
