/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header {
  background-color: #64e759;
  height: 115px;
}
 .header_login{
  margin-left: 20px; /*ボタンの場合書き方が変わる　右寄せ*/
}
 .header-logo {
  font-size: 48px; /* 文字を大きくする */
  font-weight: bold; /* 太字にしてポップ */
  color: white; /* 文字の中を白色に設定 */
  -webkit-text-stroke: 2px black; /* 外枠を黒に設定 */
  text-align: center; /* ロゴを中央揃えにする */
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-shadow: 2px 2px 0px rgb(35, 59, 243), 4px 4px 0px rgb(237, 245, 248);/*後で変更かも*/
}

.header_link {
  position: absolute;
  top: 80px; /* 画面の上端からの距離 */
  right: 60px; /* 画面の右端からの距離 */
  display: flex; /* 横並びにする */
  justify-content: flex-end; /* 右揃えにする */
}

.user_name{
  position: absolute;
  bottom: 60px;
  right: 30px; /* 画面の右端からの距離 */
}






